{% extends "style.html"%}
{% block start %}  
  <div class="wrapper">
    <div class="title">
      Register Yourself
    </div>
    <form class="col-6 mx-auto card p-3 shadow-lg rounded-3" enctype="multipart/form-data" method="post">

        {% csrf_token %}
        {% if messages %}
            {{ message.tags }}
            <div class= "alert alert-primary" roLe="alert">
            {% for message in messages %}
            <div class="error-message">
                <i class="bi bi-exclamation-triangle me-2"></i>  {{ message }}  </div>
            {% endfor %}
            </div>
            {% endif %}
      <div class="field">
        <input type="text" name ="first_name" required>
        <label>First Name</label>
      </div>
      <div class="field">
        <input type="text" name ="last_name"  required>
        <label>Last Name</label>
      </div>
      <div class="field">
        <input type="text" name ="username" required>
        <label>Username</label>
      </div>
      <div class="field">
        <input type="password" name ="password" required>
        <label>Password</label>
      </div>
      <div class="field">
        <input type="submit" class="btn btn-success" value="Login">
      </div>
      <div class="signup-link">
        Already a member? <a href="http://127.0.0.1:8000/">Sign up</a>
      </div>
    </form>
  </div>
{% endblock %}