{% extends "base.html" %}
{% block start %}
<div class="container">
  <form class="col-6 mx-auto card p-3 shadow-lg rounded-3" enctype="multipart/form-data" method="post">

    {% csrf_token %}
    <h1 class="text-center mb-4">Welcome to Jamali Institue of Knowledge</h1>
    <hr>

    <div class="form-group mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" value = "{{std.name}}" name="name" required>
    </div>

    <div class="form-group mb-3">
      <label for="class_name" class="form-label">Class Name:</label>
      <input type="text" class="form-control" id="class_name" value = "{{std.class_name}}" name="class_name" required>
    </div>

    <div class="form-group mb-3">
      <label for="subject" class="form-label">Subject:</label>
      <input type="text" class="form-control" id="subject" value = "{{std.subject}}" name="subject" required>
    </div>

    <div class="form-group mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" value = "{{std.email}}" name="email">
    </div>

    <div class="form-group mb-3">
      <label for="image" class="form-label">Image:</label>
      <input type="file" class="form-control" id="image" value = "{{std.image}}" name="image" accept="image/*" required>
    </div>

    <button type="submit" class="btn btn-primary rounded-pill">Update Record</button>
  </form>
</div>
{% endblock %}
